@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    Layout = "MemberLayout";
}

<h1>@localizer["Merhaba"]</h1>
<h1>@localizer["Merhaba"]</h1>
<h1>@localizer["Merhaba"]</h1>
<h1>@localizer["Merhaba"]</h1>
<h1>@localizer["Merhaba"]</h1>
<h1>@localizer["Merhaba"]</h1>